.container {
	/* display: flex;
	flex-direction: column; */
	width: 275px;
	background-color: hsl(15, 100%, 70%);
	border-radius: 0.7rem;
}

.imageContainer {
	display: flex;
	justify-content: end;
	overflow: hidden;
	height: 50px;
}

.icon {
	position: relative;
	top: -7px;
	right: 10px;
	width: 80px;
	height: 80px;
}

.activityInfo {
	background-color: hsl(235, 46%, 20%);
	border-radius: 0.7rem;
	padding: 1rem;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0rem 1.2rem;
}

.title {
	font-weight: 600;
}

.timeContainer {
	display: flex;
	flex-direction: column;
	padding: 0rem 1.2rem;
}

.time {
	font-size: 64px;
	margin: 0;
}

.previous {
	margin: 0;
	color: hsl(235, 45%, 61%);
	font-weight: 400;
}
