#root {
	max-width: 1440px;
	margin: 0 auto;
	padding: 2rem;
	/* text-align: center; */
}

.container {
	display: grid;
	grid-auto-rows: 1fr;
	grid-template-columns: 0.25fr 1fr;
	grid-template-rows: 1fr;
	gap: 5em 2em;
	justify-items: center;
	align-items: center;
}

.cardsContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 2em 2em;
}
